/*fonts*/
@font-face {
    font-family: 'Avenir LT Std';
    src: url('fonts/AvenirLTStd-Book.woff2') format('woff2'),
        url('fonts/AvenirLTStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

body{
    margin: 0;
 }
  
 




 /* Components */
 .title-safe-area{
     /*box-sizing: border-box;
     padding-left: 100px;*/
 }
 
 .safe-area{
     margin: auto;
     max-width: 95%
     
 }
 
 @media (min-width: 750px){
 .safe-area{
     /* the width will be the smaler of these two thing (84% until we get to 675px) */
     max-width: 78%;
     width: 675px;
 }
 }
 
 @media (min-width: 1025px){
     .safe-area{
         width: 575px;
         /*margin-left: 8%*/
         
     }
 }
 
 .title-section{
     padding-top: 25px;
 }
 
 .story-tags{
    /*font-family: acumin-pro, sans-serif;
    font-weight: 300;
    font-style: normal;*/
     color: red;
     font-size: 20px;
     position: relative;
 }
 
 .title{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
 }
 
 @media (min-width: 1025px){
     .title{
         font-size: 40px;
     }
 }
 
 .subtitle{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal; 
    color: gray;
    font-size: 20px;
 }
 
 @media (min-width: 1025px){
     .subtitle{
         font-size: 35px;
     }
 }
 
 figure{
     margin: 0;
 }


 
 .title-picture{
     width:100%;
 }
 
 @media (min-width: 700px){
     .title-picture{
         width: 700px;
     }
 }
 @media (min-width: 1000){
     .title-picture{

     }
 }

 
 .source-and-date{
    font-family: acumin-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
     color: gray;
     font-size: 15px;
     align-content: right;
     /*text-align: center;*/
 }


 
 .source-and-date > * {
     display: inline-block;
     font-size: 25px;
 }
 
 
 .story-source{
     color: red;
     font-weight: bold;
     text-decoration: none;
     margin-left: 4px;
     margin-right: 18px;
 }
 


/*FLEX*/
.flex{
    display: flex;
    flex-direction: column;
}

@media (min-width: 1000px){
    .flex{
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.left{
    width: 65%;
    text-align: right;
}

.right{
    padding: 0 20px;
    margin-top: 0;
}

.picture-and-date{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.side-related-story-contianer{
    width: 30%;
    text-align: center;
}

.most-popular-stories{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}


.story-content{
    padding-left: 350px;
}

footer{
    width: 25%;
    margin-left: 10%;
}







 .story-content{
     clear: both;
 }
 

 
 p{
    font-family: abril-display, serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 20px;
    line-height: 1.4em;
    text-align: right;
 }
 
 a{
     color: red;
     text-decoration: none;
 }
 
 .end-time{
     text-align: center;
 }

 @media (min-width: 1000px){
     .end-time{
        width: 53%;
        padding-left: 12%;
     }
 }
 
 .circles{
     padding-top: 25px;
 }
 
 .circle{
     height: 25px;
     width: 25px;
     border: 2px solid red;
     border-radius: 50%;
     display: inline-block;
 }
 
 /* Footer */
 .before-footer-line{
     margin-bottom: 60px;
 }
 
 
 .read-more{
     font-size: 16px;
 }
 
 
 .related-story-container{
     display: flex;
     flex-direction: column;
     padding: 0;
     width: 65%;
     margin: 0;
 }
 
 .related-story-list-object{
     list-style-type: none;
 }

 .related-story-list-object::before{
     content: "test";
     display: block;
     text-align: center;
 }
 
 .related-story-div{
     position: relative;
     height: 75px;
     overflow: hidden;
     padding-top: 10px;
     padding-bottom: 25px;
 }
 
 .related-story-tags{
     color: red;
     font-size: 15px;
     position: relative;
     margin: 0;
 }
 
 .related-story-title{
     font-size: 16px;
     position: relative;
     margin: 0;
     margin-top: 10px;
 }
 
 .related-story-image{
     width: 125px;
     height:75px;
     background-size: cover;
     float: left;
     padding-right: 15px;
 }